body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: #efefef;
    width: 570px;
    text-align: center;
    margin: 0px auto 0px auto;
}
h1 {
    text-align: center;
}
ul.hf {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 10px;
}
ul.cv {
    list-style-position: outside;
    list-style-type: circle;
    text-align: left;
}
li.cv {
    margin: 5px auto 5px auto;
}

li.hf {
    display: inline;
    margin: 0px 3px;
}
h2, ol, p {
    text-align: left;
}
.profile {
    width: 570px;
    display: block;
}