body {
    font-family: "Palatino Linotype", "Times New Roman", serif;
    background-color: black;
    color: white;
    width: 570px;
    text-align: center;
    margin: 25% auto 0px auto;
    font-size: xx-large;
}
